@import "tailwindcss";

@theme {
  --color-orion-gold: #BF953F;
  --color-orion-navy: #010F22;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #010F22;
  color: white;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
